
@model IEnumerable<MVC.Models.Event>
@using Microsoft.AspNetCore.Identity

@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> _signInManager


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Events List</h2>
        </div>
        <div class=" col-6 text-right">
            <a asp-controller="Event" asp-action="Create" class="btn btn-primary">Create new Event</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Location
                    </th>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    @if (_signInManager.IsSignedIn(User) == false && (item.Type == "private"|| item.Type == "Private"))
                        continue;
                    else
                    {
                        <tr>
                            <td width="10%">@item.Title</td>
                            <td width="10%">@item.Date</td>
                            <td width="10%">@item.Location</td>
                            
                            <td width="10%">
                                <div class=" col-6 text-right">
                                    <a asp-controller="Event" asp-action="Update" asp-route-title="@item.Title" class="btn btn-primary">Update</a>
                                </div>
                                <div class=" col-6 text-right">
                                    <a asp-controller="Event" asp-action="Details" asp-route-title="@item.Title" class="btn btn-primary">Details</a>
                                </div>
                            </td>

                        </tr>
                    }
                 }
            </tbody>
        </table>

    }

    else
    {
        <p>No Event Created Yet</p>
    }
</div>
