@model IEnumerable<CampBooking.Models.campDetails>

@{
    ViewData["Title"] = "Manage Camps";
}

<h1>Manage Camps</h1>
<a class="nav-link text-dark text-right" asp-area="" asp-controller="Admin" asp-action="Create">Create New Camp</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.campName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.campName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desc)
                </td>
                <td>
                    <img src="@item.image" height="100" asp-append-version="true" alt="Camp Image" />
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
